@model IEnumerable<LoadDistributionForTeachers.WEB.Models.SubgroupViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Список подгрупп</h2>

<p>
    <div class="btn-group">
        @Html.ActionLink("Добавить подгруппу", "CreateSubgroup", "Subgroup", null, new { @class = "btn btn-primary" })
    </div>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfStudents)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GroupNumber)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfStudents)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GroupNumber)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |*@
            @Html.ActionLink("Удалить", "DeleteSubgroup", new { id=item.Id })
        </td>
    </tr>
}

</table>
