@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>Employee</h2>
        <p>
            @Html.ActionLink("Список сотрудников", "Index", "Employee", null, new { @class = "btn btn-default" })
        </p>
    </div>
    <div class="col-md-4">
        <h2>AcademicDegree</h2>
        <p>
            @Html.ActionLink("AcademicDegree", "Index", "AcademicDegree", null, new { @class = "btn btn-default" })
        </p>
    </div>
    <div class="col-md-4">
        <h2>AcademicTitle</h2>
        <p>
            @Html.ActionLink("AcademicTitle", "Index", "AcademicTitle", null, new { @class = "btn btn-default" })
        </p>
    </div>
    <div class="col-md-4">
        <h2>Discipline</h2>
        <p>
            @Html.ActionLink("Discipline", "Index", "Discipline", null, new { @class = "btn btn-default" })
        </p>
    </div>
    <div class="col-md-4">
        <h2>Academic Plan</h2>
        <p>
            @Html.ActionLink("Acdemic Plan", "Index", "AcademicPlan", null, new { @class = "btn btn-default" })
        </p>
    </div>
</div>