@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <p>
            @Html.ActionLink("Сотрудники", "Index", "Employee", null, new { @class = "btn btn-info" })
        </p>
    </div>
    <div class="col-md-4">
        <p>
            @Html.ActionLink("Ученые степени", "Index", "AcademicDegree", null, new { @class = "btn btn-info" })
        </p>
    </div>
    <div class="col-md-4">
        <p>
            @Html.ActionLink("Ученые звания", "Index", "AcademicTitle", null, new { @class = "btn btn-info" })
        </p>
    </div>
</div>
<hr class="style13">
<div class="row">
    <div class="col-md-4">
        <p>
            @Html.ActionLink("Дисциплина", "Index", "Discipline", null, new { @class = "btn btn-info" })
        </p>
    </div>
    <div class="col-md-4">
        <p>
            @Html.ActionLink("Поток", "Index", "LectureFlow", null, new { @class = "btn btn-info" })
        </p>
    </div>
    <div class="col-md-4">
        <p>
            @Html.ActionLink("Подгруппы", "Index", "Subgroup", null, new { @class = "btn btn-info" })
        </p>
    </div>
</div>
<hr class="style13">
<div class="row">
    <div class="col-md-4">
        <p>
            @Html.ActionLink("Учебный план", "Index", "AcademicPlan", null, new { @class = "btn btn-info" })
        </p>
    </div>
    <div class="col-md-4">
        <p>
            @Html.ActionLink("Информация об учебном плане", "Index", "ContentOfThePlan", null, new { @class = "btn btn-info" })
        </p>
    </div>
</div>
<hr class="style13">
<div class="row">
    <div class="col-md-4">
        <p>
            @Html.ActionLink("Нагрузка на Подгруппу", "Index", "LoadSubgroup", null, new { @class = "btn btn-info" })
        </p>
    </div>
    <div class="col-md-4">
        <p>
            @Html.ActionLink("Лекционная нагрузка", "Index", "LoadFlow", null, new { @class = "btn btn-info" })
        </p>
    </div>
</div>
<hr class="style13">
<div class="row">
    <div class="col-md-4">
        <p>
            @Html.ActionLink("Подсчитать групповую нагрузку", "CountLoad", "LoadSubgroup", null, new { @class = "btn btn-info" })
        </p>
    </div>
    <div class="col-md-4">
        <p>
            @Html.ActionLink("Подсчитать лекционную нагрузку", "CountLoad", "LoadFlow", null, new { @class = "btn btn-info" })
        </p>
    </div>
</div>
