@model IEnumerable<LoadDistributionForTeachers.WEB.Models.LoadFlowViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Список лекционных нагрузок</h2>

<p>
    <div class="btn-group">
        @Html.ActionLink("Добавить нагрузку", "CreateLoad", "LoadFlow", null, new { @class = "btn btn-primary" })
    </div>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DisciplineName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfHoursOfLectures)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfHoursOfOffset)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfHoursOfExamination)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DisciplineName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfHoursOfLectures)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfHoursOfOffset)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfHoursOfExamination)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.ActionLink("Удалить", "DeleteLoad", new { id = item.Id })
        </td>
    </tr>
}

</table>
