@model IEnumerable<LoadDistributionForTeachers.WEB.Models.EmployeeViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>List Employees</h2>

<p>
    <div class="btn-group">
        @Html.ActionLink("Create Employee", "CreateEmployee", "Employee", null, new { @class = "btn btn-primary" })
    </div>
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Patronymic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AcademicDegreeIdViewModel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AcademicTitleIdViewModel)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Patronymic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AcademicDegreeIdViewModel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AcademicTitleIdViewModel)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |*@
            @Html.ActionLink("Delete", "DeleteEmployee", new { id=item.Id })
        </td>
    </tr>
}

</table>
